body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000; 
    color: #ddd5d9; /*fuente*/
}

h1 {
    font-family: 'Lora', serif;
    color: rgb(247, 188, 247);
    text-align: center;
}

h2 {
    color: #fa9dcc;
}

body, section, p {
    text-align: left;
}


header {
    background-color: #000; 
    color: #fff; 
    padding: 25px;
    border-bottom: 4px solid #444; 
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.container img {
    width: 95%;           /* Reducí el ancho */
    height: 300px;        /* Aumentá la altura */
    object-fit: cover;    /* Mantiene la imagen recortada sin deformarla */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}


nav {
    background: #333; 
    padding: 5px 0;
    border-bottom: 4px solid #444;
    text-align: center;

    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;

    height: 25px;  
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #444;
    color: #ccc;
}

a {
    color: #fff; 
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ccc; 
    text-decoration: underline;
}

section {
    margin: 30px auto;
    padding: 25px;
    background: #262626;
    border: 2px solid #444;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.1);
    width: 80%; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border: 2px solid #555;
    border-radius: 5px;
    background: #222;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #666; 
    background: #333; 
    color: #e0e0e0;  
    border-radius: 5px;
}

button {
    background: #444; 
    color: #fff; 
    padding: 12px;
    border: 2px solid #666;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #666; 
}


footer {
    text-align: center;
    padding: 15px;
    background: #000; 
    color: #f387dc; 
    margin-top: 30px;
    border-top: 4px solid #444; 
}

form {
    max-width: 1250px;    /* Ancho máximo */
    margin: 0 auto;      /* Centrado horizontal */
}